/* Project Page Styles */

/* General Styles */
body {
    font-family: "Space Grotesk", sans-serif;
    color: #454545;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header Section */
.general-section {
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #FFFEFB; /* Background color */
    animation: fadeInUp 1s ease-in-out forwards; /* Fade-in and slide-up animation */
}

.general-section h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 48px; /* Set the font size for the heading */
    color: #454545; /* Set the color */
    margin-bottom: 20px; /* Space below the heading */
    text-align: left; /* Center the heading */
    padding-left: 50px;
}

.general-section h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 20px; /* Set the font size for the heading */
    color: #454545; /* Set the color */
    text-align: left; /* Center the heading */
    padding-left: 105px;
}


/* Project Details Section */
.project-details {
    display: flex;
    justify-content: space-between;
    background-color: #FFFEFB;
    padding-left: 85px;
    padding-right: 85px;

}

.project-left,
.project-right {
    flex: 1;
    padding: 20px;
}

.project-left h3,
.project-right h3 {
    font-size: 24px;
    font-weight: 600;
}

.project-left p,
.project-right p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}

/* Project Images Section */
.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 20px;
    background-color: #FFFEFB;

}

.project-images img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-images img:hover {
    transform: scale(1.05);
}

/* Project Summary Section */
.project-summary {
    padding: 50px 20px;
    background-color: #FFFEFB;

}

.project-summary h3 {
    font-size: 24px;
    font-weight: 600;
}

.project-summary p,
.project-summary ul {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.project-summary ul {
    padding-left: 20px;
}

.project-summary li {
    margin-bottom: 10px;
}
